* {
  font-family: "helvetica neue", sans-serif;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}


.browserupgrade {
  font-size: 2em;
  color: red;
}

.browserupgrade a {
  text-decoration: underline !important;
  color: red !important;
}

.expand {
  width: 100% !important;
}

.clear {
  padding: 0 !important;
  margin: 0 !important;
}

#logo {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3em !important;
}

@media only screen and (min-width: 768px) {
  #logo {
    font-size: 5em !important;
  }
}

.subtitle {
  display: block;
  font-size: 2em;
  color: #B42312;
  font-weight: 500;
  text-transform: uppercase;
}

#brief {
  display: block;
  color: #0F3E42;
  padding-top: 50px;
  font-size: 1.5em;
  font-weight: 200;
  width: 320px;
  margin: 0 auto;
}

#nav-bg {
  background-image: url("/img/food_bg_blur.jpg");
  background-position: 60% -100px;
  background-size: 2000px 1000px;
  background-repeat: no-repeat;
  min-height: 550px;
}

#logo {
  width: 100%;
  padding-top: 100px  !important;
}

@media only screen and (min-width: 768px) {
  #logo-link {
    width: 700px;
    height: 100px;
    background-size: 700px 100px;

  }
}

#nav-links {
  /* margin-top: 10px !important; */
  list-style: none;
}

.nav-link {
  background: #000;
  height: 400px;
  line-height: 400px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  background-size: 700px 500px ;
  background-position: 50%;
  background-repeat: no-repeat;
}

.nav-link a {
  color: #FFF;
  text-shadow: 0 0 10px #999;
}

#bg-mr-shack {
  background-image:url("/img/mr_shack_masked.jpg");
}

#bg-grill {
  background-image:url("/img/grill_masked.jpg");
}

#bg-brand {
  background-image:url("/img/brand_masked.jpg");
}

#bg-menu {
  background-image:url("/img/menu_masked.jpg");
}

footer {
  height: 100px;
  line-height: 100px;
  background: #181A1E;
  padding-left: 20px;
}

footer a {
  color: #FFF;
}

footer span {
  display: block;
  color: #999;
  padding-left: 10px;
}

.goto-btn {
  display: block;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 100px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 100%;
  color: #E9ECEC;
  font-size: 1.5em;
  text-decoration: none;
}

.goto-btn:link {
  color: #FFF;
  text-decoration: none;
}
.goto-btn:visited {
  color: #FFF;
  text-decoration: none;
}
.goto-btn:hover {
  color: #FFF;
  text-decoration: none;
}
.goto-btn:active {
  color: #FFF;
  text-decoration: none;
}

.goto-btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

#findus,
#northern-life,
#foodgeek,
#manchesterfinest {
  padding: 100px 0;
}

#findus {
  margin-top: 50px !important;
}

.findus-intro {
  font-size: 1.5em;
  font-weight: 400;
  color: #383E4C;
  padding: 20px 0 0 0;
}

@media only screen and (min-width: 768px) {
  .findus-intro {
    padding: 250px 0 0 0;
  }
}

.address {
  color: #7F8C8D;
  font-size: 1.3em;
}

#northern-life {
  background: #20232B;
  color: #7F8C8D;
}

#foodgeek {
  background: #BE4E58;
}

#manchesterfinest {
  background: #B35CDC;
}


article p {
  quotes: "“" "”" "‘" "’";
  font-size: 1.6em;
  font-weight: 200;
  padding-bottom: 30px;
}

article p::before {
  display: block;
  content: open-quote no-close-quote;
  font-size: 5em;
  width: 50px;
  margin: 0 auto -50px auto;
}

.menu-class {
  text-align: left;
  margin: 20px 0;
  color: #FFF;
}

.badge {
  background: transparent;
  color: #000;
}

#menu {
  background: url("/img/spring-roll.jpg") 50% 0 no-repeat;
  margin-top: 20px !important;
  padding: 80px 0 !important;
}

#menu h3 {
  color: #FFF;
  font-size: 3em;
}

.list-group {
  border: none;
}
.list-group-item {
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 0 !important;
  margin: 0;
}

cite {
  padding: 0 0 50px 0;
}

cite::before {
  content: "--";
  margin-right: 10px;
}

cite::after {
  content: "--";
  margin-left: 10px;
}
